h3 {
    text-align: center;
    padding: 20px 0px;
    border-left: solid 5px ;
    font-style: inherit;
    font-size: 21px;
    background-color: rgb(90 192 80);
    margin: 10px auto;
    display: block;
}

.w4_first-set-assignment-1 div{

    width: 300px;
    height: 60px;
    background-color: #eee;
    margin: 10px auto;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
}

.w4_first-set-assignment-1 div:empty {
    background-color:rgb(255, 38, 38);
}

.w4_first-set-assignment-2 {
    width: 630px;
    height: 50px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: 35px;
    font-weight: 600px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
    background-color: #D4D4D4;
}

.w4_first-set-assignment-2::first-letter{
    background-color: #ff0000;
    color: white;
    padding: 10px;
    margin-left: -40px;
}

.w4_first-set-assignment-3 p{
    position: relative;
    background: #eee;
    width: 630px;
    height: 60px;
    line-height: 60px;
    margin: 10px auto;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 500px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 7px solid #E91E63;
}

.w4_first-set-assignment-3 p::before{
    content: "";
    position: absolute;
    top: 25%;
    left: -35px;
    width: 0px;
    height: 0px;
    border-width: 15px;
    border-style: solid;
    border-color:transparent #E91E63 transparent transparent;
}

.w4_first-set-assignment-3 p::after{
    content: attr(data-person);
    position: absolute;
    left: -130px;
    height: 60px;
    width: 100px;
    background-color: #DDDDDD;
    text-align: center;
}

.w4_first-set-assignment-4 p{
    position: relative;
    width: 630px;
    height: 70px;
    margin: 10px auto;
    line-height: 70px;
    background-color: #eee;
    padding-left: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    counter-increment: p-counter;
}

.w4_first-set-assignment-4 p::before{
    content: counter(p-counter);
    position: absolute;
    left: -60px;
    width: 60px;
    text-align: center;
    background-color: #F44336;
    color: white;
}

.w4_first-set-assignment-4 p::after{
    content: "";
    position: absolute;
    right: -5px;
    width: 5px;
    height: 70px;
    background-color:#F44336;
}

.w4_second-set-assignmet-1 {
    width: fit-content;
    margin: 10px auto;
}

.w4_second-set-assignmet-1 div{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 20px ;
    background-color: #EEEEEE;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 5px 5px 0 #2196F3 , -5px -5px 0 #E91E63;
    counter-increment: div-counter;
}

.w4_second-set-assignmet-1 div::before{
    content: counter(div-counter);
    position: absolute;
    top: -12px;
    left: 36px;
    padding: 3px 9px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 500px;
    border-radius: 50%;
}

.w4_second-set-assignmet-1 div::after{
    content: "Element";
    position: absolute;
    top: 40px;
    right: 10px;
    color: black;
    font-size:18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serifs;
}

.w4_second-set-assignment-2 {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #EEEEEE;
    margin: 20px auto;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 10px 20px;
    border-bottom-right-radius: 10px 20px;
    box-shadow: inset 0 0 15px;
}

.w4_second-set-assignment-3 {
    position: relative;
    width: 550px;
    background-color: #f8f8f8;
    margin: 10px auto;
}

.w4_second-set-assignment-3 .first,
.w4_second-set-assignment-3 .second {
    display: inline-block;
    width: 243px;
    height: 260px;
    margin: 10px 15px;
    background-color: #eee;
}

.w4_second-set-assignment-3 .caption {
    width: 160px;
    height: 40px;
    margin: 10px auto;
    background-color: #03A9F4;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    border-radius: 10px;
}

.w4_second-set-assignment-3 .price {
    width: 190px;
    height: 190px;
    background-color: #DDDDDD;
    margin: 10px auto;
    font-size: 35px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 190px;
    border-radius: 50%;
}

.w4_second-set-assignment-3 .first::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0px;
    width: 2px;
    height: 280px;
    background-color: #03A9F4;
}

.w4_second-set-assignment-3 .second::before{
    content: "or";
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 14px);
    width: 30px;
    height: 30px;
    background-color: #03A9F4;
    color: white;
    text-align: center;
    line-height: 28px;
    font-size: 21px;
    border-radius: 50%;
}